.nav-item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

.hamburger {
    height: 50px;
    width: 50px;
    transform: 0.2s;
    position: relative;
}

.hamburger .checkbox {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.line {
    transition: 0.5s;
    stroke-width: 6px;
    stroke: black;
}

.lineTop {
    stroke-dasharray: 40 40;
    stroke-dashoffset: 25;
}

.lineBottom {
    stroke-dasharray: 40 40;
    stroke-dashoffset: 60;
}

.lineMid {
    stroke-dasharray: 40 40;
}

.hamburger .checkbox:checked+svg .line {
    stroke: crimson;
}

.hamburger .checkbox:checked+svg .lineTop {
    stroke-dashoffset: 0;
    transform-origin: left;
    transform: rotateZ(45deg) translate(-7px, -5px);
}

.hamburger .checkbox:checked+svg .lineMid {
    stroke-dashoffset: 40;
}

.hamburger .checkbox:checked+svg .lineBottom {
    stroke-dashoffset: 0;
    transform-origin: left;
    transform: rotateZ(-45deg) translate(-5px, 5px);
}

.nav-item a:hover {
    color: rgb(255, 174, 0);
}

.col-lg-7 p {
    background-color: rgb(243, 243, 243);
}

.con-2 {
    background-image: url(img/bg-our-partner-color.png);
    background-attachment: fixed;
    padding-bottom: 5rem;
}

.navbar-brand {
    cursor: default;
}

.col-lg-6 img {
    background-color: rgba(232, 232, 232, 0.7);
    padding: 35px;
    border-radius: 8px;
    width: 280px;
    box-shadow: 5px 5px 10px gray;
}

.br {
    font-size: 10px;
}

.br:hover {
    color: aliceblue;
}

.logo {
    font-size: 1.7rem;
    cursor: pointer;
}

.logo i:hover {
    color: rgb(255, 187, 0);
}

.bege {
    font-size: 1rem;
    font-family: monospace;
    display: flex;
    flex-direction: column;
}

.card .btn {
    font-size: .7rem;
}

.card .btn:hover {
    color: aliceblue;
}

.imek {
    margin: 2rem 0;
    width: 700px;

}

.tab {
    overflow: hidden;
    font-family: monospace;
}

.imek-2 {
    width: 800px;
}

.tab button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    padding: 15px 10px 15px 13px;
    font-size: 2rem;
}

.tab button.active {
    text-decoration: underline;
    font-weight: 1000;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: non;
}


.gede {
    font-weight: 650;
    font-size: 1.6rem;
}

.Baten {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #77530a, #ffd277, #77530a, #77530a, #ffd277, #77530a);
    background-size: 250%;
    background-position: left;
    color: #ffd277;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
}

.Baten::before {
    position: absolute;
    content: "Join D KIngdom";
    color: #ffd277;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.842);
    background-size: 200%;
}

.Baten:hover {
    background-position: right;
    transition-duration: 1s;
}

.Baten:hover::before {
    background-position: right;
    transition-duration: 1s;
}

.Baten:active {
    transform: scale(0.95);
}

.book {
    position: relative;
    border-radius: 10px;
    width: 220px;
    height: 300px;
    background-color: rgb(0, 0, 0);
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #ffffff;
}

.cover {
    top: 0;
    position: absolute;
    background-color: rgb(255, 218, 34);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-83deg);
    -ms-transform: rotatey(-83deg);
    transform: rotatey(-83deg);
    box-shadow: none;
}

.tet {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.con-4 {
    background-color: #ffd700;

}

.con-4 h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lee,
.lee img {
    transition: .5s;
}
.lee{
    background-color: #940000;
    color: #d5d5d5;
}

.lee:hover {
    box-shadow: 1px 3px 30px rgb(0, 0, 0);
    cursor: pointer;

    img {
        transform: translateY(-45px);

    }


    transform: translateY(-20px);
}

.itam button {
    color: #ffffff;
    font-size: 1.5rem;
    border: none;
    background-color: #ffd700;
    transition: .5s;
    text-decoration: underline;
}

.itam button:hover {
    color: black;
}

@media screen and (max-width:769px) {
    .tab {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:577px) {
    .tab {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:426px) {
    .tab {
        display: flex;
        flex-direction: column;
    }

    .def {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .book {
        width: 200px;
        height: 220px;
    }

    .itam {
        margin: 8px 0;
    }
}

@media screen and (max-width:992px) {
    .tab button {
        font-size: 1.7rem;
    }
}

.bro {
    background-color: #d5d5d5;
    width: 100%;
}
